body{
    font-family: 'Racing Sans One', cursive;
}
h4{
    text-align: center;
}
.navbar{
    text-align:center;
    display:block;
    flex-flow:column;
    background-color: black;
    width:1370px;
    height:40px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
a#look1{
    position:absolute;
    left: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: #6ef5ff;
}
a#look2{
    position: absolute;
    right: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: red;
}
a#look3{
    position: absolute;
    left: 700px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: white;
}
p{
    text-align: center;
    padding: 15px;
    margin: 5px;
    margin-top: 5px;
}
img#look1{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img#look2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
hr{
    width: 50%;
}
iframe{
    margin-left: 500px;
    margin-right: 500px;
}