body{
    font-family: 'Racing Sans One', cursive;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='178' height='178' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23ffb3b3' fill-opacity='0.12' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}
h4{
    text-align: center;
    color: black;
}
h2{
    text-align: center;
}
.navbar{
    text-align:center;
    display:block;
    flex-flow:column;
    background-color: black;
    width:1200px;
    height:40px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0px;
    left: 50px;
}
a#look1{
    position:absolute;
    left: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: aqua;
}
a#look2{
    position: absolute;
    right: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: red;
}
a#look3{
    position: absolute;
    left: 600px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: white;
}
img#look1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    margin-top: 50px;
}
img#look2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 90px;
}
p{
    text-align: center;
    padding: 15px;
    margin: 15px;
    margin-top: 5px;
}
hr{
    width: 50%;
}
iframe#left{
    margin-left: auto;
    margin-right: auto;
    float: left;
}
iframe#right{
    margin-left: auto;
    margin-right: auto;
}