body{
    font-family: 'Racing Sans One', cursive;
    background-color: #400000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23400000' cx='50' cy='0' r='50'/%3E%3Cg fill='%23460001' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%234b0002' cx='50' cy='100' r='50'/%3E%3Cg fill='%23510003' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23570003' cx='50' cy='200' r='50'/%3E%3Cg fill='%235d0004' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23630004' cx='50' cy='300' r='50'/%3E%3Cg fill='%23690005' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23700005' cx='50' cy='400' r='50'/%3E%3Cg fill='%23760005' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%237c0006' cx='50' cy='500' r='50'/%3E%3Cg fill='%23830006' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23890005' cx='50' cy='600' r='50'/%3E%3Cg fill='%23900005' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23960005' cx='50' cy='700' r='50'/%3E%3Cg fill='%239d0004' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a40004' cx='50' cy='800' r='50'/%3E%3Cg fill='%23aa0003' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b10002' cx='50' cy='900' r='50'/%3E%3Cg fill='%23b80001' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bf0000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
h4{
    text-align: center;
    color: black;
}
h2{
    text-align: center;
}
.navbar{
    text-align:center;
    display:block;
    flex-flow:column;
    background-color: black;
    width:1370px;
    height:40px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0px;
    left: 50px;
}
a#look1{
    position:absolute;
    left: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: #6ef5ff;
}
a#look2{
    position: absolute;
    right: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: red;
}
a#look3{
    position: absolute;
    left: 650px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: white;
}
img#look1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    margin-top: 50px;
}
img#look2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 90px;
}
img#look3{
    display: block;
    float: left;
    width: 35%;
    margin-left: 7px;
}
p{
    text-align: center;
    padding: 15px;
    margin: 15px;
    margin-top: 5px;
}
hr{
    width: 50%;
}
iframe{
    margin-left: 400px;
    margin-right: 400px;
}